@model Infosys.EduBank.PaymentApp.Models.DebitCardDetails
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "DebitCardPayment";
    var amount = HttpContextAccessor.HttpContext.Session.GetString("Amount");
    var maskedNumber = ViewData["MaskedCardNumber"];
    var merchantName = ViewData["MerchantName"];
}

<div style="background-color: rgba(255,215,87,0.1);height:75px; margin-top:20px; margin-left: 200px; margin-right: 200px; margin-bottom:20px;">

        <div style="float:left;margin-left:10px">
            <h2 style="color: rgb(223,155,33);">
                <span style="color: maroon;">
                    EDU
                </span>
                BANK
            </h2>
        </div>
</div>

<h4 style="text-align:center;"> Complete your transaction </h4>


<div class="row">
    <div class="col-md-2">

    </div>
     <div class="col-md-8" style="text-align:center;">
        
        <form style="display:block;" asp-action="DebitCardPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <hr style="height:1px;" color="orange">

            <div class="form-group">
                <label class="control-label">Paying via @maskedNumber</label>
                <input asp-for="DebitCardNumber" class="form-control" type="hidden"/>
            </div>

            <div class="form-group">
                <label  class="control-label">Card Holder Name:  @Model.CardHolderName </label>
                <input asp-for="CardHolderName" class="form-control" type="hidden"/>
            </div>

            <div class="form-group">
                <input asp-for="CVV" class="form-control" type="hidden"/>
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ValidThru" class="form-control" type="hidden"/>
                <span asp-validation-for="ValidThru" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"> Merchant: @merchantName </label>
            </div>

            <div class="form-group">
                <label class="control-label"> Amount: @amount </label>
            </div>


            <div class="form-group">
                <!-- <label class="control-label"> Enter PIN below </label> -->
                <input style="display:inline-block; width:20%;" asp-for="Pin" class="form-control" type="password" maxlength="4" placeholder="Enter PIN here"/>
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Pay" style = "background-color: maroon;" class="btn btn-primary" />
            </div>

            <hr style="height:1px;" color="orange">
        </form>
    </div>

    <div class="col-md-2">

    </div>
</div>

<!-- <div>
    <a asp-action="Index">Back to List</a>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
