﻿@model Infosys.EduBank.App.Models.Customer
<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />


<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@using (Html.BeginForm("AddCustomer","Teller",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top:0em;display:block;text-align:left;align-items:flex-start;margin-left:15px;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.Label("Select the Branch")
            @Html.DropDownList("Branch")*@
            @Html.DropDownListFor(m => m.Branch,(SelectList)ViewBag.Branch,"--Select Branch--")
            @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Enter Name*" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })*@

            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Email ID*" } })
            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group" title="Date of Birth">
            @*@Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })*@

            @Html.EditorFor(model => model.DateOfBirth, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Date of Birth", @type="date" } })

            @*@Html.TextBoxFor(model => model.DateOfBirth, new
       {
           @class = "form-control",
           type = "date",
           @placeholder = "",@max = DateTime.Now.Date
       })*@


            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10">*@
            <button type="submit" value="Create">Add Customer</button>
            @*</div>*@
        </div>
    </div>
}


