﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Infosys.EduBank.App.Models.CreditDetails
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(".allownumericwithoutdecimal").on("keypress keyup blur paste", function (event) {
            var that = this;

            //paste event
            if (event.type === "paste") {
                setTimeout(function () {
                    $(that).val($(that).val().replace(/[^\d].+/, ""));
                }, 100);
            } else {

                if (event.which < 48 || event.which > 57) {
                    event.preventDefault();
                } else {
                    $(this).val($(this).val().replace(/[^\d].+/, ""));
                }
            }

        });
        $('.count').attr('readonly', true);
        $('#search').click(function () {
            //

            ("Hi");
            //var account = $('#AccountNumber').val();
            $('.count').attr('readonly', false);
            var accountNumber = $('#ab').val();
            //alert(accountNumber);
            //alert(account);
            //alert(accountNumber);
            //var accountNumber = document.getElementById("AccountNumber").value;
            //var accountNumber = document.getElementById("ab").value;

            //e.preventDefault();
            $.ajax({

                url: '/Teller/FetchAccountDetails',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset = utf-8",
                data: { AccountNumber: accountNumber}
            }).success(
                function (data) {
                    //alert(data[1].toString());
                    //alert(data)
                    $('#accoutHolder').val(data[0].toString());
                    $('#inactiveMessage').html(data[1].toString());
                    if (data[1].toString() == "") {
                        $('#inactiveAccount').hide();
                        $('#activeAccount').show();
                        //$('#inactiveMessage').css('display','none');
                    }
                    else {
                        $('#inactiveAccount').show();
                        $('#activeAccount').hide();
                        //$('#inactiveMessage').css('display', 'block');
                    }
                    //document.getElementById("Name").val() = name;
                    //$("#Name").html(data);

                    //alert($("#accoutHolder").val() + " second");
                }
                ).error(function (a, b, c) {
                    alert(a + b + c)
                });
        });

        $('.count').change(function () {
            if (parseInt($(this).val()) < 0) {
                $(this).val(0);
            }
            if (parseInt($(this).val()) > 100) {
                $(this).val(100);
            }
            var currentval = $(this).prop('id');

            var amount = currentval.split('f')[1];
            currentval = '#' + currentval + 'Total';

            var total = parseInt($(this).val()) * parseInt(amount);
            $(currentval).val(total);
            var totalSum = parseInt(0);
            if ($('#noOf10Total').val()) {
                totalSum += parseInt($('#noOf10Total').val());
            }
            if ($('#noOf20Total').val()) {
                totalSum += parseInt($('#noOf20Total').val());
            }
            if ($('#noOf50Total').val()) {
                totalSum += parseInt($('#noOf50Total').val());
            }
            if ($('#noOf100Total').val()) {
                totalSum += parseInt($('#noOf100Total').val());
            }
            if ($('#noOf500Total').val()) {
                totalSum += parseInt($('#noOf500Total').val());
            }
            if ($('#noOf2000Total').val()) {
                totalSum += parseInt($('#noOf2000Total').val());
            }
            $('#Amount').val(totalSum.toString());
        });

    });
</script>
@using (Html.BeginForm("AddMoney", "Teller", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group row">
            @*<div class="col-md-4" style="text-align:right"><label>Account no:</label></div>*@
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", @placeHolder = "Account Number", id = "ab" })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7">
                &nbsp; <button type="button" id="search" value="search">Search</button>
            </div>
        </div>
        <div id="inactiveAccount" style="display:none">
            <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
                <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span><span id="inactiveMessage"></span><br>
            </div>
        </div>

        <div id="activeAccount">
            <div class="form-group row">
                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "accoutHolder", @placeHolder = "Account Holder Name", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="table col-md-3">
                <div class="row">
                    <div class="col-md-3 table" style="text-align:left">
                        <div class="row">
                            <div class="col-md-2" style="text-size-adjust:auto;  pull-right;padding:0px">
                                2000  X
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <input class="count form-control valid allownumericwithoutdecimal" min="000" max="100" step="1.0" type="number" style="width:65px" id="noOf2000" maxlength="3">
                            </div>
                            <div class="col-md-1">
                                =
                            </div>
                            <div class="col-md-3"><input class="form-control" type="number" style="width:85px" readonly="" id="noOf2000Total" tabindex="-1"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2" style="text-size-adjust:auto;  pull-right;padding:0px">
                                500  X
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <input class="count form-control" pattern="^[0-9]{0,3}$" min="000" max="100" type="number" style="width:65px" id="noOf500" maxlength="3" />
                            </div>
                            <div class="col-md-1">
                                =
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="number" style="width:85px" readonly id="noOf500Total" tabindex="-1" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2" style="text-size-adjust:auto;  pull-right;padding:0px">
                                100  X
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <input class="count form-control" pattern="^[0-9]{0,3}$" min="000" max="100" type="number" style="width:65px" id="noOf100" maxlength="3" />
                            </div>
                            <div class="col-md-1">
                                =
                            </div>
                            <div class="col-md-3">

                                <input class="form-control" type="number" style="width:85px" readonly id="noOf100Total" tabindex="-1" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2" style="text-size-adjust:auto;  pull-right;padding:0px">
                                50  X
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <input class="count form-control" pattern="^[0-9]{0,3}$" type="number" style="width:65px" id="noOf50" maxlength="3" />
                            </div>
                            <div class="col-md-1">
                                =
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="number" style="width:85px" readonly id="noOf50Total" tabindex="-1" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2" style="text-size-adjust:auto;  pull-right;padding:0px">
                                20  X
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <input class="count form-control" pattern="^[0-9]{0,3}$" type="number" style="width:65px" id="noOf20" maxlength="3" />
                            </div>
                            <div class="col-md-1">
                                =
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="number" style="width:85px" readonly id="noOf20Total" tabindex="-1" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2" style="text-size-adjust:auto;  pull-right;padding:0px">
                                10  X
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <input class="count form-control" pattern="^[0-9]{0,3}$" type="number" style="width:65px" id="noOf10" maxlength="3" />
                            </div>
                            <div class="col-md-1">
                                =
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="number" style="width:85px" id="noOf10Total" readonly tabindex="-1" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2" style="padding:0px; text-align:left;">&nbsp; Total =</div>
                            <div class="col-md-3" style="padding:0px;">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            @*<div class="col-md-1"></div>*@
                            <div class="col-md-4" style="text-align:right"><button type="submit" value="Add Money">Add Money</button> </div>
                            <div class="col-md-4" style="text-align:left"><button type="reset" value="Cancel">Cancel</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
