@{
    Layout = "~/Views/Shared/_TellerLayout.cshtml";
    ViewBag.Title = "TellerHomePage";
    bool display = false;
}


<div class="row">

    <div class="col-md-offset-2 col-md-5 col-md-offset-1 ">
        <h3 style="text-align: left ; margin-left:0px;"><maroon>Calculate Interest</maroon> </h3>

        <hr style="height:1px;" color="orange">

        @using (Html.BeginForm("CalculateInterestPost","Teller",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="margin-left:15px;display:block;">

              
                <div class="form-group">
                    Are you sure that you want to calculate and add interest for all the accounts?
                </div>
                <div class="form-group">
                    
                    <button type="submit" value="CalculateInterest">Calculate Interest</button>
                    <a href="@Url.Action("TellerHomePage", "Teller")">Back to home page</a>
                </div>
                @if (TempData["InterestStatus"] == null||TempData["InterestStatus"].ToString() == "" )
                {

                    
                }
                else
                {
                    @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                    <div style="width:300px;background:#DFF2BF; color:#4F8A10; float:left; margin-left:-15px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                        <span class="glyphicon glyphicon glyphicon-ok-circle" style="color:#4F8A10;"></span> @TempData["InterestStatus"].ToString()<br>
                    </div>
                }
            </div>
        }


    </div>


</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



