@model IEnumerable<Infosys.EduBank.App.Models.CardRequest>
@{
    Layout = "~/Views/Shared/_TellerLayout.cshtml";
    ViewBag.Title = "CreditCardRequest";
   // bool display = false;
}

<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




<h3>
    <maroon>
        View Credit Card Requests
        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3><div id="dvRequests">
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover" style="width:100%;margin:5px">
                <thead>
                    <th>
                        Request Id
                    </th>
                    <th>
                        Customer Id
                    </th>
                    <th>
                        Card Type Id
                    </th>
                    <th>
                        Request Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Update
                        </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td>@item.RequestId</td>
                        <td>@item.CustomerId</td>
                        <td>@item.CardTypeId</td>
                        <td>@item.RequestDate </td>
                        <td>@item.Status</td>
                        <td><button class="btn btn-info" type="button" value="Approve" id="App+@item.RequestId" data-toggle="modal" data-target="#ApproveModal"+@item.RequestId>Approve</button>
                        <button type="button" class="btn btn-danger" value="Reject" id="rej" data-toggle="modal" data-target="#RejectModal">Reject</button></td>
                        </tr>
                    }
                    
                </tbody>
                
            </table>

        }

        else
        {
            
            if (ViewBag.ErrorMessage == "" || ViewBag.ErrorMessage == null)
            {
                <p>No data exists</p>
            }
            else
            {
                @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>@ViewBag.ErrorMessage<br>
                </div>
            }

        }
    </div>
    <div id="success"></div>
  @foreach (var item in Model)
  {
      using (Html.BeginForm("GenerateCreditCard", "Teller",new{requestId=item.RequestId}, FormMethod.Post))
            {
        <div class="modal fade" id="ApproveModal"+@item.RequestId role="dialog">
        <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmation Message</h4>
            </div>
            <div class="modal-body">
            <p>Are you sure you want to Approve the Application ?</p>
            <button type="submit" class="btn btn-success" id="approveYes+@item.RequestId">Yes</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" id="approveNo">No</button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
        </div>
    </div>
    }
  }
  @foreach (var item in Model)
  {
      using (Html.BeginForm("RejectRequestStatus", "Teller",new{requestId=item.RequestId}, FormMethod.Post))
            {
      <div class="modal fade" id="RejectModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation Message</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Reject the Application ?</p>
          <button type="submit" class="btn btn-success" id="rejectYes+@item.RequestId">Yes</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" id="rejectNo">No</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  }
  }
  <!-- Modal -->
        <div class="modal fade" id="CreditSuccess" role="dialog">
            <div class="modal-dialog modal-dialog-center">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Request Approved</h4>
                </div>
                <div class="modal-body">
                <p>The debit card has been generated successfully.</p>
                <p><b>Credit Card details</b> -<br>
                <b>Card Number</b>  - @TempData["CreditCardNumber"]<br>
                <b>CVV</b>  - @TempData["CVV"]<br>
                <b>PIN</b>  - @TempData["Pin"]</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="StatusReject" role="dialog">
            <div class="modal-dialog modal-dialog-center">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reject Rejected</h4>
                </div>
                <div class="modal-body">
                <p>@TempData["RejectStatus"]</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>
          
        
<style type="text/css">
    /*.new-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 1200px;
            display: table;
            background-color: white;
            position: relative;
            text-align:left;
            border-bottom:thick,solid;
        }*/

    .new-header {
        color: gray;
        padding: 8px;
        text-align: left;
    }

    .new-footer {
    }

    .new-row-style {
        margin-top: 10px;
        text-align: left;
    }
</style>
@if(@TempData["CustomerDetails"]!=null)
{
    <script type="text/javascript">
        $("#CreditSuccess").modal({show: true});
    </script>
}
@if(@TempData["RejectStatus"]!=null)
{
<script type="text/javascript">
      $("#StatusReject").modal({show: true});
</script>
}
