@model Infosys.EduBank.Common.Models.CreditCard
@if(Model!=null){
    
    <div class="row">
    <div class="col">
        <label>Card Number</label>
        <p></p>
    </div>
    <div class="col">
        <label>Card Cvv</label>
        <p>Model.Cvv</p>
    </div>
    <div class="col">
        <label>Card Pin</label>
        <p>Model.Pin</p>
    </div>
    <div class="col">
        <label>Card ValidFrom</label>
        <p>Model.ValidFrom</p>
    </div>
    <div class="col">
        <label>Card ValidThru</label>
        <p>Model.ValidThru</p>
    </div>
    </div>
}