@model IEnumerable<Infosys.EduBank.App.Models.DebitCardRequest>
    @{
        Layout = "~/Views/Shared/_TellerLayout.cshtml";
        ViewBag.Title = "Debit Card Requests";
        // bool display = false;
    }

    <link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <h3>
        <maroon>
            Debit Card Requests
            <hr style="height:1px; width:1200px" color="orange" align="left">
        </maroon>
    </h3><div id="dvRequests">
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover" style="width:100%;margin:5px">
                <thead>
                <th>
                    Request Id
                </th>
                <th>
                    Debit Card Number
                </th>
                <th>
                    Valid Till
                </th>
                <th>
                    Reason
                </th>
                <th>
                    Update
                </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DebitCardRequestId</td>
                            <td>@item.DebitCardNumber</td>
                            <td>@item.ValidThru.Substring(0,10)</td>
                            <td>@item.Reason </td>

                            <td>
                                <button class="btn btn-info" type="button" value="Approve" id="App+@item.DebitCardRequestId" data-toggle="modal" data-target="#ApproveModal" +@item.DebitCardRequestId>Approve</button>
                                <button type="button" class="btn btn-danger" value="Reject" id="rej" data-toggle="modal" data-target="#RejectModal" +@item.DebitCardRequestId>Reject</button>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        }

        else
        {

            if (ViewBag.ErrorMessage == "" || ViewBag.ErrorMessage == null)
            {
                <p>No data exists</p>
            }
            else
            {
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>&nbsp;&nbsp;@ViewBag.ErrorMessage<br>
                </div>
            }

        }
    </div>
    @foreach (var item in Model)
    {
        using (Html.BeginForm("ApproveDebitCard", "Teller", item))
            {
            <div class="modal fade" id="ApproveModal" +@item.DebitCardRequestId role="dialog">
                <div class="modal-dialog modal-dialog-center">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation Message</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to approve the debit card request ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="submit" type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Approve</button>
                        </div>
                    </div>

                </div>
            </div>
            }
    }
    @foreach (var item in Model)
    {
        using (Html.BeginForm("RejectDebitCard", "Teller", item))
            {
            <div class="modal fade" id="RejectModal"+@item.DebitCardRequestId role="dialog">
                <div class="modal-dialog modal-dialog-center">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation Message</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to reject the debit card request ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Reject</button>
                        </div>
                    </div>

                </div>
            </div>
            }
    }
        <!-- Modal -->
        <div class="modal fade" id="approvedModal" role="dialog">
            <div class="modal-dialog modal-dialog-center">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Request Approved</h4>
                </div>
                <div class="modal-body">
                <p>The debit card has been generated successfully.</p>
                <p><b>Debit Card details</b> -<br>
                <b>Card Number</b>  - @TempData["DebitCardNumber"]<br>
                <b>CVV</b>  - @TempData["CVV"]<br>
                <b>PIN</b>  - @TempData["Pin"]</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="rejectedModal" role="dialog">
            <div class="modal-dialog modal-dialog-center">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reject Rejected</h4>
                </div>
                <div class="modal-body">
                <p>@TempData["RejectStatus"]</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>


    <style type="text/css">

        .new-header {
            color: gray;
            padding: 8px;
            text-align: left;
        }

        .new-footer {
        }

        .new-row-style {
            margin-top: 10px;
            text-align: left;
        }
        .modal-dialog-center
        {
            margin-top: 10%;
        }
    </style>
@if(@TempData["CustomerDetails"]!=null)
{
    <script type="text/javascript">
        $("#approvedModal").modal({show: true});
    </script>
}
@if(@TempData["RejectStatus"]!=null)
{
<script type="text/javascript">
      $("#rejectedModal").modal({show: true});
</script>
}