﻿
@{
    Layout = "~/Views/Shared/_TellerLayout.cshtml";
    ViewBag.Title = "TellerHomePage";
    bool display = false;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <a id="createAccountLink" style="text-decoration:none;cursor:pointer"><h3><maroon>Create Account</maroon></h3></a>

            <hr id="createAccountLine" style="height:1px; width:350px; visibility:hidden  " color="orange" align="left">
            <div id="createAccountForm" style="visibility:hidden">
                @Html.Partial("AddCustomer")
                <br>
                <div id="statusCustomer" style="margin-left:-6px;">
                    @if (ViewBag.Customer == "" || ViewBag.Customer == null)
                    {

                    }
                    else
                    {
                        <div style="width:300px;height:50px;background:#DFF2BF; color:#4F8A10; float:left;margin-top:0px; margin-left:5px;padding-top:15px;padding-bottom:5px;text-align:center;">
                            <span class="glyphicon glyphicon glyphicon-ok-circle" style="color:#4F8A10;"></span> @ViewBag.Customer<br>
                        </div>
                        <div>
                            <h3>
                                Customer Details:
                            </h3>
                            <p>
                                <b>Name: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).Name)
                                <br/>
                                <b>Login Name: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).LoginName)
                                <br/> 
                                <b>Password: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).Password)
                                <br/>
                                <b>Account Number: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).AccountNumber)
                                <br/>
                                <b>Debit Card Number: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).DebitCardNumber)
                                <br/>
                                <b>CVV: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).CVV)
                                <br/>
                                <b>Pin: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).Pin)
                                <br/>
                                <b>Valid Till: </b>
                                @(((Infosys.EduBank.Common.Models.Customer)ViewBag.CustomerDetail).ValidThru)
                                <br/>
                            </p>
                        </div>
                    }

                    @if (ViewBag.ErrorCustomer == "" || ViewBag.ErrorCustomer == null)
                    {

                    }
                    else
                    {
                        <div style="width:300px;height:50px;background:#FFBABA; color:#D8000C; float:left;margin-top:0px; margin-left:5px;padding-top:15px;padding-bottom:5px;text-align:center;">
                            <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span> @ViewBag.ErrorCustomer<br>
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <a id="addMoneyLink" style="text-decoration:none;cursor:pointer"><h3><maroon>Add Money</maroon></h3></a>
            <hr id="addMoneyLine" style="height:1px; width:300px; visibility:hidden  " color="orange" align="left">
            <div id="addMoneyForm" style="visibility:hidden">
                @Html.Partial("AddMoney")
                <h5>@ViewBag.name</h5>
                <div id="statusMoney">
                    @if (ViewBag.Money == "" || ViewBag.Money == null)
                    {

                    }
                    else
                    {
                        <div style="width:300px;height:50px;background:#DFF2BF; color:#4F8A10; float:left;margin-top:0px; margin-left:5px;padding-top:15px;padding-bottom:5px;text-align:center;">
                            <span class="glyphicon glyphicon glyphicon-ok-circle" style="color:#4F8A10;"></span> @ViewBag.Money<br>
                        </div>

                    }

                    @if (ViewBag.ErrorMoney == "" || ViewBag.ErrorMoney == null)
                    {

                    }
                    else
                    {
                        <div style="width:300px;height:80px;background:#FFBABA; color:#D8000C; float:left;margin-top:0px; margin-left:5px;padding-top:15px;padding-bottom:5px;text-align:center;">
                            <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span> @ViewBag.ErrorMoney<br>
                        </div>

                    }


                </div>
            </div>
        </div>
        @*<div class="col-md-2"></div>*@
        @*<div class="col-md-4">
                <a id="deactivateLink"><h3><maroon>Deactivate Account</maroon></h3></a>

                <hr id="deactivateLine" style="height:1px; width:300px; visibility:hidden  " color="orange" align="left">
                <div id="deactivateForm" style="visibility:hidden">

                </div>
            </div>*@


    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var customer = "@ViewBag.Customer"
        var money = "@ViewBag.Money"
        var errorCustomer = "@ViewBag.ErrorCustomer";
        var errorMoney = "@ViewBag.ErrorMoney";
        if (customer != "" || "@ViewBag.ErrorCustomer" != "")
        {

            $('#createAccountForm').css('visibility', 'visible');
            $('#statusCustomer').css('visibility', 'visible');
        }

        if (money != "" || "@ViewBag.name" != "") {
            $('#addMoneyForm').css('visibility', 'visible');
            $('#statusMoney').css('visibility', 'visible');
        }
    });
    $('#createAccountLink').click(function () {
        $('#createAccountLine').css('visibility', 'visible');
        $('#addMoneyLine').css('visibility', 'hidden');
        $('#deactivateLine').css('visibility', 'hidden');
        $('#addMoneyForm').css('visibility', 'hidden');
        $('#deactivateForm').css('visibility', 'hidden');
        $('#createAccountForm').css('visibility', 'visible');
        $('#statusCustomer').css('visibility', 'hidden');
        $('#statusMoney').css('visibility', 'hidden');
        //$('#createAccountForm').load('/Teller/AddCustomer')
    });
    $('#addMoneyLink').click(function () {
        $('#addMoneyLine').css('visibility', 'visible');
        $('#createAccountLine').css('visibility', 'hidden');
        $('#deactivateLine').css('visibility', 'hidden');
        $('#createAccountForm').css('visibility', 'hidden');
        $('#deactivateForm').css('visibility', 'hidden');
        $('#addMoneyForm').css('visibility', 'visible');
        $('#statusCustomer').css('visibility', 'hidden');
        $('#statusMoney').css('visibility', 'hidden');
        //$('#addMoneyForm').load('/Teller/AddMoney')
    });

    $('#deactivateLink').click(function () {
        $('#deactivateLine').css('visibility', 'visible');
        $('#createAccountLine').css('visibility', 'hidden');
        $('#addMoneyLine').css('visibility', 'hidden');
        $('#createAccountForm').css('visibility', 'hidden');
        $('#deactivateForm').css('visibility', 'visible');
        $('#addMoneyForm').css('visibility', 'hidden');
        $('#deactivateForm').load('/Teller/DeactivateAccount')
    });
</script>
