﻿@model Infosys.EduBank.App.Models.LoginCredentials

@{
    ViewBag.Title = "TellerLogin";
}

<div class="row">

    <div class="col-md-offset-2 col-md-3 col-md-offset-1 ">
        <h3 style="text-align: left ; margin-left:0px;"><maroon>Teller Login</maroon> </h3>

        <hr style="height:1px;" color="orange">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="margin-left:15px;display:block;">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">


                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login Name" } })
                    <br>
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })


                    <br>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    
                    <button type="submit" value="Login">Login</button>

                </div>
                @if (TempData["LoginStatus"].ToString() == "" || TempData["LoginStatus"].ToString() == null)
                {

                }
                else
                {
                    @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                    <div style="width:300px;height:30px;background:#FFBABA; color:#D8000C; float:left; margin-left:-15px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                        <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span> @TempData["LoginStatus"].ToString()<br>
                    </div>
                }
            </div>
        }


    </div>

    <div class="col-md-6 text-center">
        <!-- <h1>Customer Login </h1> <br>
        <img src="images/19-1User-512.png" height="300px" width="300px"> -->

    </div>


</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
