@{
    ViewData["Title"] = "Error";
    var message = ViewData["Message"].ToString();
}
@section Scripts
{
<script type="text/javascript">
$(function(){
  $( document ).ready(function() {
      console.log("Hello");
    setTimeout(function() {
         window.location.href ='@Url.Action("RedirectToMerchant","RedirectToMerchant",new {status = "failure"})';
         }, 3000);});});</script>
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@message </h2>

<p>
    @Html.ActionLink("Go back now","RedirectToMerchant","RedirectToMerchant")
</p>
