@model Infosys.EduBank.App.Models.Payee

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "AddPayee";
}

<h2>AddPayee</h2>

<h4>Payee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPayee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- <div class="form-group">
                 <label asp-for="PayeeId" class="control-label" type="hidden"></label>
                <input asp-for="PayeeId" class="form-control" type="hidden" />
                <span asp-validation-for="PayeeId" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                @if(ViewBag.ValidAccount!=null){
                    <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
                <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>&nbsp;@ViewBag.ValidAccount<br>
                </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="IFSC" class="control-label"></label>
                <input asp-for="IFSC" class="form-control" />
                <span asp-validation-for="IFSC" class="text-danger"></span>
            </div>
            <!-- <div class="form-group">
                <label asp-for="UserName" class="control-label" type="hidden"></label>
                <input asp-for="UserName" class="form-control"  type="hidden"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="PreferredAmount" class="control-label"></label>
                <input asp-for="PreferredAmount" class="form-control" />
                <span asp-validation-for="PreferredAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
            @if(ViewBag.Successfull!=null){
               <div style="width:300px;background:66ccff; color:#33cc33; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon  glyphicon glyphicon-ok" style="color:#33cc33;"></span>&nbsp; @ViewBag.Successfull<br>
                </div>
            }
            @if(ViewBag.UnSuccessfull!=null){
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>&nbsp; @ViewBag.UnSuccessfull<br>
                </div>
            }
        </form>
    </div>
</div>


