@model Infosys.EduBank.App.Models.CardType

@{
   // ViewData["Title"] = "FundsTransfer";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title="ApplyCreditCard";
}
<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />


<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $( document ).ready(function() {
        $('#CardType').change(function(){
            //alert("Hello")
            var categoryId=$('#CardType').val();
           $.ajax({

                url: '/Customer/GetCreditLimit',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset = utf-8",
                data: { categoryId: categoryId}
            }).success(
                function (data) {
                    //alert(data[1].toString());
                    //alert(data)
                $('#CreditLimit').val(data);
                  //  $('#inactiveMessage').html(data[1].toString());
                   // if (data[1].toString() == "") {
                    //    $('#inactiveAccount').hide();
                    //    $('#activeAccount').show();
                    //    //$('#inactiveMessage').css('display','none');
                   // }
                   // else {
                    //    $('#inactiveAccount').show();
                    //    $('#activeAccount').hide();
                        //$('#inactiveMessage').css('display', 'block');
                    document.getElementById("CreditLimit").val() = data;
                    $("#CreditLimit").html(data);

                    //alert($("#accoutHolder").val() + " second");
                }
                ).error(function () {
                    alert("Error")
                });
        })
});
</script>
<h3>
    <maroon>
       Apply For Credit Card
        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3>
@using (Html.BeginForm("ApplyCreditCard","Customer",FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top:0em;display:block;text-align:left;align-items:flex-start;margin-left:15px;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <label class="control-label">Card Category</label>
            <div style="width: 250px;">
            
                        @Html.DropDownList("categoryId", ViewBag.CardType,"===Select===", new { @id = "CardType",@class="form-control" })
                        </div>
        </div>
        <div class="form-group">
            <label class="control-label">Credit Limit</label>
                        <br/>
                       <input type="text" class="form-control" class="form-control" style="display:inline-block; width:20%;" name="CreditLimit" Id="CreditLimit" readonly/>

        </div>
        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10">*@
            <button type="submit" value="Apply">Apply For Credit Card</button>
            @*</div>*@
        </div>
         @if(ViewBag.Successfull!=null){
               <div style="width:300px;background:66ccff; color:#33cc33; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon  glyphicon glyphicon-ok" style="color:#33cc33;"></span>&nbsp; @ViewBag.Successfull<br>
                </div>
            }
            @if(ViewBag.UnSuccessfull!=null){
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>&nbsp; @ViewBag.UnSuccessfull<br>
                </div>
            }
    </div>
}


