@model Infosys.EduBank.App.Models.DebitCardRequest
@{
    ViewBag.Title = "Block Replace Debit Card";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h3>
    <maroon>
        Block/Replace Debit Card
        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3>
@if (ViewBag.AccountNumbers != null)
{
    using (Html.BeginForm("BlockReplaceDebitCard", "Customer", FormMethod.Get))
    {
        <div id="accounts" style="width:100%;">
            <div class="row">
                <div class="col-md-4" style="padding:0px;margin-left:15px;">
                    Available debit card for Account Number  &nbsp;
                </div>
                <div class="col-md-2" style="padding:0px;">
                    <span>
                        @Html.DropDownList("accountNumber", ViewBag.AllAccounts,"===Select===", new { @id = "AccountNumber" })
                    </span>
                </div>
            </div>
            <br>
            <br>
                <button value="submit" type="submit" id="df">View Debit Card</button>
            </div>
      
    }
    <br>
    <div id="dvDebitCard">
        @if (Model != null)
        {
            <div id="debitCardDetails">
            <h3>@Model.DebitCardNumber</h3>
            <h5>Valid Till - @Model.ValidThru</h5>
            <br>
            @if(TempData["Status"]== null)
            {
                <button type="button" class="button" data-toggle="modal" data-target="#block"><span>Block</span></button>
                <button type="button" class="button" data-toggle="modal" id="replace" data-target="#replaceCard"><span>Replace</span></button>
            }
            </div>
            using (Html.BeginForm("BlockDebitCard", "Customer", new { debitCardId = Model.DebitCardId }))
            {
                <div class="modal fade" id="block" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to block the selected debit card?</p>
                                <p class="text-warning"><small>The card will be locked for usage</small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" value="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Block</button>
                            </div>
                            </div>
                    </div>
                </div>
            }
            using (Html.BeginForm("ReplaceDebitCard", "Customer", new { debitCardId = Model.DebitCardId, reason = Model.Reason }))
            {
                <div class="modal fade" id="replaceCard" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Select Reason : 
                                <!-- <select asp-for="@Model.Reason" asp-items="Html.GetEnumSelectList<Reason>()" id="SelectedReason"></select> -->
                                @Html.DropDownListFor(m => m.Reason, new SelectList(Enum.GetNames(typeof(Reason))), new { @id = "SelectedReason" })
                                </p>
                                <div id="lostDebit"><p class="text-warning"><small>The selected debit card will be blocked. Request will be sent to bank for approval.</small></p></div>
                                <div id="replaceDebit"><p class="text-warning"><small>Your request will be sent to bank for approval</small></p></div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Replace</button>
                            </div>
                        </div>
                    </div>
                </div>
            }       
        if (TempData["BlockReplaceStatus"] != null)
        {
            <br>
            <div class="alert alert-success" style="width:320px">
                <span class="glyphicon glyphicon glyphicon-ok-circle" style="color:green;"></span>&nbsp;&nbsp;@TempData["BlockReplaceStatus"]<br>
            </div>
        }
        if (TempData["ErrorMessage"] != null)
        {
            <br>
            <div class="alert alert-danger" style="width:320px">
                <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>&nbsp;&nbsp;@TempData["ErrorMessage"]<br>
            </div>
        }
        }
        else
        {
            if (ViewBag.ErrorMessage == "" || ViewBag.ErrorMessage == null)
            {
                <p>No data exists</p>
            }
            else
            {
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>@ViewBag.ErrorMessage<br>
                </div>
            }
        }
    </div>
}
else
{
    <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
        <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>   @ViewBag.Message<br>
    </div>
}
<style>
#debitCardDetails {
  margin: 0;
  border-radius: 15px;
  background: #242124;
  padding: 15px; 
  width: 320px;
  height: 180px;  
}
h5{
 color: goldenrod;
}
h3{
 color: goldenrod;
 font-family: OCR A Std, monospace;
}
.button {
  border-radius: 4px;
  background-color: lightcoral;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 35px;
}
#replace
{
  border-radius: 4px;
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 25px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<script type="text/javascript"> 
    $(document).ready(function () {
        var value = $("#SelectedReason").val();
        if (value == 'CardIsDamaged') {
            $('#replaceDebit').show();
            $('#lostDebit').hide();
        } else if (value == 'CardIsExpired') {
            $('#replaceDebit').show();
            $('#lostDebit').hide();
        } else if (value == 'CardIsLost') {
            $('#replaceDebit').hide();
            $('#lostDebit').show();
        }
        $('#SelectedReason').change(function () {
            var value = $(this).val();
            if (value == 'CardIsDamaged') {
                $('#replaceDebit').show();
                $('#lostDebit').hide();
            } else if (value == 'CardIsExpired') {
                $('#replaceDebit').show();
                $('#lostDebit').hide();
            } else if (value == 'CardIsLost') {
                $('#replaceDebit').hide();
                $('#lostDebit').show();
            }
        });
    });
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>