﻿@model Infosys.EduBank.App.Models.DebitCardPinDetails
    @{ 
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    #cancelChange {
        background: none !important;
        color: #0000EE;
        border: none;
        padding: 0 !important;
        font: inherit;
        /*border is optional*/
        border-bottom: 1px solid #0000EE;
        cursor: pointer;
    }
</style>
<h3>
    <maroon>
        Change Debit Card Pin

        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3>

@if (ViewBag.DebitCardNumber != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-3" style="margin:0px;display:block;">
            <div class="form-group">
                @*@Html.DropDownList("DebitCards", "--Choose Debit Card--")*@
                @Html.DropDownListFor(model => model.DebitCardNumber, ViewBag.DebitCardNumber as List<SelectListItem>, "--Select Debit Card Number--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DebitCardNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">


                @Html.PasswordFor(model => model.OldPin, new { @class = "form-control", @placeholder = "Old Pin*" })
                @Html.ValidationMessageFor(model => model.OldPin, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">


                @Html.PasswordFor(model => model.NewPin, new { @class = "form-control", @placeholder = "New Pin*" })
                @Html.ValidationMessageFor(model => model.NewPin, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">


                @Html.PasswordFor(model => model.ConfirmedPin, new { @class = "form-control", @placeholder = "Confirmed Pin*" })
                @Html.ValidationMessageFor(model => model.ConfirmedPin, "", new { @class = "text-danger" })

            </div>



            <div class="form-group">

                <button type="submit" value="Change Pin">Change Pin</button>
                <input id="cancelChange" type="reset" value="Cancel" />
            </div>


            @if (ViewBag.DebitChangeStatus == "" || ViewBag.DebitChangeStatus == null)
            {

            }
            else
            {
                @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                <div style="width:270px;height:25px;background:#DFF2BF; color:#4F8A10; float:left; margin-left:-15px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-ok-circle" style="color:#4F8A10;"></span> @ViewBag.DebitChangeStatus<br>
                </div>
            }
            @if (ViewBag.DebitChangeStatusFail == "" || ViewBag.DebitChangeStatusFail == null)
            {

            }
            else
            {
                @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                <div style="width:270px;height:30px;background:#FFBABA; color:#D8000C; float:left; margin-left:-15px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span> @ViewBag.DebitChangeStatusFail<br>
                </div>
            }
        </div>
    }
}
else
{
    <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
        <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>   @ViewBag.Message<br>
    </div>
}


