﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "CustomerHomePage";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="row">

    @*<div class="col-md-offset-1 col-md-5" style="padding-left:0px">*@
    <div style="padding-top:0px;position:fixed;">
        <br>
        <h3>
            <maroon>
                Balance
                <hr style="height:1px; width:1200px ;margin-top: 3px " color="orange" align="left" />
            </maroon>
        </h3>
            <div id="balance">@*@if (ViewBag.Message != null)
            {
                <div style="width:300px;background:#FEEFB3; color:#9F6000; float:left; margin-left:-15px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
                    <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>@ViewBag.Message<br>
                </div>
            }*@
        </div>
        <div id="balForm">
    @using (Html.BeginForm("GetBalance", "Customer"))
    {
        if (ViewBag.AllAccounts != null)
        { 
            @Html.DropDownList("AccountNumbers",  ViewBag.AllAccounts,"===Select===", new { @id = "AccountNumber" })
            <br>
            <br>
            <button type="submit" value="submit" id="df">Show Balance</button>
        }
        else
        {
            <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
                <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>   @ViewBag.Message<br>
            </div>
        }
        @if (ViewBag.Balance != null)
        {
        <h3 lang="en-150">&#x20B9;@ViewBag.Balance</h3>
        }
    }
</div>

    </div>
    

    @*<div class=" col-md-6 text-right">
        <br>
        <div class="dropdown">
            <span><h3><maroon>Customer Name&#9662</maroon></h3></span>
            <div class="dropdown-content">
               <p><a id="changePasswordLink">Change Password</a></p>
                <p><a id="viewTransactionsLink">View Transactions</a></p>
                <p><a id="changeDebitCardPinLink">Change Debit Card Pin</a></p>
               
              
            </div>
        </div>

    </div>*@
</div>
@*<div class="row">
    <div id="customerOptions" class="col-md-offset-1 col-md-10" style="padding: 0px;">*@
        
        <div id="viewTransactions">
            
            </div>
        @*<div id="changePassword" style="visibility:hidden;">
            
        </div>
        <div id="changePin" style="visibility:hidden;"> change pin</div>*@
    @*</div>
</div>*@
<div>
    
    
</div>

<h2>@*@Session["EmailId"].ToString()*@</h2>


@*<div>
    @Html.ActionLink("View Balance", "GetBalance")
</div>
<div>
    @Html.ActionLink("View Transactions", "ViewTransactions")
</div>
<div>
    @Html.ActionLink("Change Debit Card Break", "ChangeDebitCardPin")
</div>
<div>
    @Html.ActionLink("Logout", "CustomerLogout")
</div>*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#balance").load('/Customer/GetBalance');
        //$('#viewTransactions').load('/Customer/ViewTransactions')
    });

    //$('#changePasswordLink').click(function () {
    //    //$('#viewTransactions').css('visibility', 'hidden');
    //    //$('#changePassword').css('visibility', 'visible');
    //    $('#viewTransactions').load('/Customer/ChangePassword')
    //});
    //$('#viewTransactionsLink').click(function () {
    //    //$('#viewTransactions').css('visibility', 'visible');
    //    //$('#changePassword').css('visibility', 'hidden');
    //    $('#viewTransactions').load('/Customer/ViewTransactions')
    //});
    //$('#changeDebitCardPinLink').click(function () {
    //    //$('#viewTransactions').css('visibility', 'visible');
    //    //$('#changePassword').css('visibility', 'hidden');
    //    $('#viewTransactions').load('/Customer/ChangeDebitCardPin')
    //});
</script>