@model Infosys.EduBank.App.Models.Expenditures
@{
    ViewBag.Title = "Expenditure Analysis";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<h3>
    <maroon>
        Expenditure Analysis
        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3>
@if (ViewBag.AccountNumbers != null)
{
    using (Html.BeginForm("ExpenditureAnalysis", "Customer", FormMethod.Get))
    {
        <div id="transactions" style="width:100%;">
            <div class="row">
                <div class="col-md-4" style="padding:0px;margin-left:15px;">
                    Expenditure analysis for Account Number  &nbsp;
                </div>
                <div class="col-md-2" style="padding:0px;">
                    <span>
                        @Html.DropDownList("accountNumber", ViewBag.AllAccounts, "===Select===", new { @id = "AccountNumber" })
                    </span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1" style="padding:0px; margin-left:15px;">
                    <span>Analyse By</span>
                </div>
                <div class="col-md-2" style="padding:0px;">
                    @Html.DropDownList("analysisType", ViewBag.AnalysisOptions, "===Select===", new { @id = "AnalysisType" })
                </div>
                <div id="yearSelection">
                    <div class="col-md-1" style="padding:0px;">&nbsp;&nbsp; Year</div>
                    <div class="col-md-2" style="padding:0px;">
                        @Html.DropDownList("year", ViewBag.Years, "===Select===", new { @id = "Year" })
                    </div>
                </div>
                <div id="monthSelection">
                    <div class="col-md-1" style="padding:0px;">&nbsp;&nbsp; Month</div>
                    <div class="col-md-2" style="padding:0px;">
                        @Html.DropDownList("month", ViewBag.Months, "===Select===", new { @id = "Month" })
                    </div>
                </div>
            </div>
            <br>
            <button value="submit" type="submit" id="df">View Analysis</button>
        </div>
    }
    <br>
    <div id="dvAnalysis">
        @if (Model != null)
        {
            <canvas id="myChart"></canvas>
        }
        else
        {
            if (ViewBag.ErrorMessage == "" || ViewBag.ErrorMessage == null)
            {
                <p>No expenditures exists</p>
            }
            else
            {
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>&nbsp;&nbsp;@ViewBag.ErrorMessage<br>
                </div>
            }
        }
    </div>
}
else
{
    <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
        <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>   @ViewBag.Message<br>
    </div>
}
@if (Model != null)
{
<script type="text/javascript">
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
     scaleOverride: true,

     scaleSteps: 10,
     scaleStepWidth: 20,
     scaleStartValue: 0, 
            labels: @Html.Raw(Model.Label),
            fill: false,
            datasets: [{
                backgroundColor: @Html.Raw(Model.Colors),
                data: @Html.Raw(Model.Values),
                borderColor: 'black',
                hoverBorderWidth: 2
            },]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: [@Html.Raw(Model.AnalysisType),@Html.Raw(Model.SelectedPeriod)],
                fontSize: 20,
            },
            scales: {
                yAxes: [{
                        scaleLabel: {
                        display: true,
                        fontSize : 18,
                        labelString: @Html.Raw(Model.YAxis),
                        gridLines: {
                color: "rgba(0, 0, 0, 0)",
                            },           
                    }, ticks: {
                        fontSize: 18,
                        userCallback: function(value, index, values) {
                        value = value.toString();
                        value = value.split(/(?=(?:...)*$)/);
                        value = value.join(',');
                        return '₹' + value;
                        }   
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        fontSize: 18,
                        labelString: @Html.Raw(Model.XAxis)
                    },
                    gridLines: {
                        color: "rgba(255, 255, 255)",
                    },  
                   }
                ]
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem) {
                        return '₹' + tooltipItem.yLabel;
                    }
                }
            },
        }
    });
</script>
}
<script type="text/javascript">
    $(document).ready(function () {
        var value = $("#AnalysisType").val();
        if (value == 'Daily') {
            $('#yearSelection').show();
            $('#monthSelection').show();
        } else if (value == 'Monthly') {
            $('#yearSelection').show();
            $('#monthSelection').hide();
        } else if (value == 'Yearly') {
            $('#yearSelection').hide();
            $('#monthSelection').hide();
        }
        $('#AnalysisType').change(function () {
            var value = $(this).val();
            if (value == 'Daily') {
                $('#yearSelection').show();
                $('#monthSelection').show();
            } else if (value == 'Monthly') {
                $('#yearSelection').show();
                $('#monthSelection').hide();
            } else if (value == 'Yearly') {
                $('#yearSelection').hide();
                $('#monthSelection').hide();
            }
        });
    });
</script>