﻿@model Infosys.EduBank.App.Models.LoginCredentials

@{
    ViewBag.Title = "ForgotPassword";
}

<div class="row">

    <div class="col-md-offset-2 col-md-3 col-md-offset-1 ">
        <h3 style="text-align: left ; margin-left:0px;"><maroon>Forgot Password?</maroon> </h3>

        <hr style="height:1px;" color="orange">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="margin:15px;display:block;">
                @*<h4>Login</h4>
    <hr />*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    
                    @*<div class="col-md-10">*@
                        @Html.TextBoxFor(model => model.UserName,  new { @class = "form-control" ,@placeHolder ="Enter Login Id"} )
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>


                <div class="form-group">
                    @*<div class="col-md-offset-2 col-md-10">*@
                        <button type="submit" value="Create">Send Reset Link</button>
                    @*</div>*@
                </div>
                @if (ViewBag.ForgotPasswordFail == "" || ViewBag.ForgotPasswordFail == null)
                {

                }
                else
                {
                    @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                    <div style="width:275px;height:50px;background:#FFBABA; color:#D8000C; float:left; margin-left:-15px;padding-left:15px;padding-top:10px;padding-bottom:5px;padding-right:15px;text-align:center">
                        <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span> @ViewBag.ForgotPasswordFail<br>
                    </div>
                }
                @if (ViewBag.ForgotPasswordSuccess == "" || ViewBag.ForgotPasswordSuccess == null)
                {

                }
                else
                {
                    @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                    <div style="width:290px;height:50px;background:#DFF2BF; color:#4F8A10; float:left; margin-left:-15px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                        <span class="glyphicon glyphicon glyphicon-ok-circle" style="color:#4F8A10;"></span> @ViewBag.ForgotPasswordSuccess<br>
                    </div>
                }
            </div>
        }

        </div>
</div>