@model Infosys.EduBank.App.Models.FundsTransferRequest

@{
   // ViewData["Title"] = "FundsTransfer";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title="FundsTransfer";
}

<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <h3>
    <maroon>
        Funds Transfer
        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3>
@using (Html.BeginForm("FundsTransfer", "Customer", FormMethod.Get))
    {

                <div class="form-group">
                    <div class="form-group" style="padding:0px;">
                        <label class="control-label">Account Number</label>
                        <br/>
                        <div style="width: 250px;">
                        @Html.DropDownList("AccountNumber", ViewBag.AllAccounts,"===Select===", new { @id = "AccountNumber",@class="form-control" })
                        </div>
                    </div>
                 <div class="form-group" style="padding:0px;">
 
                        <label class="control-label">Payee</label>
                        <br/>
                        <div style="width: 250px;">
                        @Html.DropDownList("payeeAccount", ViewBag.AllPayee,"===Select===", new { @id = "Payee",@class="form-control" })
                        </div>
                    </div>
                <div class="form-group" style="padding:0px;">

                        <label class="control-label">Amount</label>
                        <br/>
                       <input type="text" class="form-control" class="form-control" style="display:inline-block; width:20%;" name="amount" />

                    </div>
                    <div class="form-group" style="padding:0px;">

                        <label class="control-label">Remarks</label>
                        <br/>
                       <input type="text" class="form-control" class="form-control" style="display:inline-block; width:20%;" name="remarks"/>

                    </div>
                    <div class="form-group">
                    <input type="submit" value="Send Money" class="btn btn-success"  />
                    &nbsp;
                    @Html.ActionLink("Add Payee", "AddPayee", "Customer", null, new { @class = "btn btn-primary btn-large" })
                    </div>
                    @if(ViewBag.Successfull!=null){
               <div style="width:300px;background:66ccff; color:#33cc33; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon  glyphicon glyphicon-ok" style="color:#33cc33;"></span>&nbsp; @ViewBag.Successfull<br>
                </div>
            }
            @if(ViewBag.UnSuccessfull!=null){
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>&nbsp; @ViewBag.UnSuccessfull<br>
                </div>
            }
                </div>
    }
