﻿@model Infosys.EduBank.App.Models.CustomerCredentials

@{
    ViewBag.Title = "ResetPassword";
}
<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/changePassword.js"></script>
<script>
    $(function () {
        $(document).tooltip({
            items: ".input-validation-error",
            content: function () {
                return $(this).attr('data-val-required');
            }
        });
    });
</script>

@using (Html.BeginForm("ResetChangePassword", "Customer", Model))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-4" style="margin:0px;display:block;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.OldPassword, "Old Password", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">*@
            @*@Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Old Password" } })*@
            @*@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })*@
            @*</div>*@
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Password, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">*@
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeHolder = "New Password" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            @*<div style="color:red">
                @TempData["SamePassword"]
            </div>*@
            @*<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter<br>
                <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number<br>
                <span id="spChar" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Special Character in  (!,#,$,%,^,&,*,(,))<br>*@

        </div>


        <div class="form-group">
            @*@Html.LabelFor(model => model.PasswordConfirmation, "Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">*@
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">

            <button type="submit" value="Change">Change Password</button>
            <input id="cancel" type="reset" value="Cancel" />

        </div>
    </div>
    <div class="col-md-4" style="padding-top:40px;">
        <div style="border:0.5px solid lightgray;">
            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
            <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter<br>
            <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
            <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number<br>
            <span id="spChar" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Special Character in  (!,#,$,%,^,&,*,(,))<br>
        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/changePassword.js"></script>
