﻿@model IEnumerable<Infosys.EduBank.App.Models.Transaction>
@{
    ViewBag.Title = "ViewTransactions";
    //WebGrid grid = new WebGrid(Model, canSort: false, rowsPerPage: 10, ajaxUpdateContainerId: "dvTransactions");
    //grid.Pager(WebGridPagerModes.NextPrevious);
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Scripts/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui.theme.min.css" rel="stylesheet" />

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script>
    //$(function () {
    //    $("#fromDate").datepicker();
    //});
    $(document).ready(function () {

        $('#FromDate').datepicker();
        $('#ToDate').datepicker();
    });
</script>


<h3>
    <maroon>
        View Transactions
        <hr style="height:1px; width:1200px  " color="orange" align="left">
    </maroon>
</h3>


@if (ViewBag.AccountNumbers != null)
{
    using (Html.BeginForm("ViewTransactions", "Customer", FormMethod.Get))
    {

        <div id="transactions" style="width:100%;">
            <div class="row">
                <div class="col-md-4" style="padding:0px;margin-left:15px;">
                    Your Transaction details for the Account Number  &nbsp;
                </div>
                <div class="col-md-2" style="padding:0px;">
                    <span>
                        @Html.DropDownList("accountNumber", ViewBag.AllAccounts,"===Select===", new { @id = "AccountNumber" })

                    </span>
                </div>
                @*<div class="row">*@
            </div>
            <br>
            <div class="row">
                <div class="col-md-1" style="padding:0px; margin-left:15px;">
                    <span>From</span>
                </div>
                <div class="col-md-2" style="padding:0px;">
                    <span>
                        @if (ViewBag.FromDate == null || ViewBag.FromDate == string.Empty)
                    {
                            @Html.Editor("FromDate", null, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY", Value = DateTime.Now.AddDays(-30).ToString("MM/dd/yyyy") } })

                        }
                        else
                        {
                            @Html.Editor("FromDate", null, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY", Value = ViewBag.FromDate } })

                        }
                    </span>
                </div>

                <div class="col-md-1" style="padding:0px;">&nbsp;&nbsp; To</div>

                <div class="col-md-2" style="padding:0px;">
                    @if (ViewBag.ToDate == null || ViewBag.ToDate == string.Empty)
                    {
                        @Html.Editor("ToDate", null, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "To Date", Value = DateTime.Now.ToString("MM/dd/yyyy") } })

                    }
                    else
                    {
                        @Html.Editor("ToDate", null, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "To Date", Value = ViewBag.ToDate } })

                    }
                </div>

            </div>
            <br>
           
                <button value="submit" type="submit" id="df">View Transactions</button>

                
                @*</div>*@
            </div>

      

    }




    <br>

    <div id="dvTransactions">
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover" style="width:100%;margin:5px">
                <thead>
                    <th>
                        TransactionId
                    </th>
                    <th>
                        Deposit
                    </th>
                    <th>
                        Withdrawl
                    </th>
                    <th>
                        TransactionDateTime
                    </th>
                    <th>
                        Remarks
                    </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td>@item.TransactionId</td>
                        <td>@item.Deposit</td>
                        <td>@item.Withdrawl</td>
                        <td>@item.TransactionDateTime</td>
                        <td>@item.Remarks</td>
                        </tr>
                    }
                    
                </tbody>
                
            </table>

        }

        else
        {
            
            if (ViewBag.ErrorMessage == "" || ViewBag.ErrorMessage == null)
            {
                <p>No data exists</p>
            }
            else
            {
                @*<div style="width:200px;height:100px;background:#FEEFB3;"><span class="glyphicon glyphicon-warning-sign" style="color:yellow"></span><h6 style="color:#9F6000;">@ViewBag.Warning</h6></div>*@
                <div style="width:300px;background:#FFBABA; color:#D8000C; float:left; margin-left:0px;padding-left:15px;padding-top:5px;padding-bottom:5px;padding-right:15px;text-align:center;">
                    <span class="glyphicon glyphicon glyphicon-remove-circle" style="color:#D8000C;"></span>@ViewBag.ErrorMessage<br>
                </div>
            }

        }
    </div>
}
else
{
    <div style="background:#FEEFB3; color:#9F6000; float:left; margin-left:-3px;padding-left:10px;padding-top:5px;padding-bottom:5px;text-align:center;">
        <span class="glyphicon glyphicon-warning-sign" style="color:#9F6000;"></span>   @ViewBag.Message<br>
    </div>
}

<style type="text/css">
    /*.new-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            width: 1200px;
            display: table;
            background-color: white;
            position: relative;
            text-align:left;
            border-bottom:thick,solid;
        }*/

    .new-header {
        color: gray;
        padding: 8px;
        text-align: left;
    }

    .new-footer {
    }

    .new-row-style {
        margin-top: 10px;
        text-align: left;
    }
</style>
