@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "NetBankingPayment";
    var amount = HttpContextAccessor.HttpContext.Session.GetString("Amount");
    List<string> accountNumbers = new List<string>();
    foreach(var item in ViewData["AccountNumbers"] as List<string>){
        accountNumbers.Add(item);
    }
}

 <div style="background-color: rgba(255,215,87,0.1);height:75px; margin-top:20px; margin-left: 0px; margin-right: 200px; margin-bottom:20px;">

        <div style="float:left;margin-left:10px">
            <h2 style="color: rgb(223,155,33);">
                <span style="color: maroon;">
                    EDU
                </span>
                BANK
            </h2>
        </div>
    </div>

<h4 style="text-align:left;"> Net Banking Services </h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="NetBankingPaymentPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <hr style="height:1px;  margin-bottom: 20px; " color="orange">

            <div class="form-group">
                <label class="control-label"> Choose Account </label>
                @Html.DropDownList("AccountNumber",new SelectList(accountNumbers,accountNumbers[0]),new { @class="form-control"})
            </div>
            <div class="form-group">
                <label class="control-label"> Amount </label>
                <input name="amount" class="form-control" readonly value=@amount>
               
            </div>
            <div class="form-group">
                <label  class="control-label"> Remarks </label>
                <input name="remarks" class="form-control" />
                
            </div>
            
            <!-- <div class="form-group">
                <label asp-for="TransactionInfo" class="control-label"></label>
                <input asp-for="TransactionInfo" class="form-control" />
                <span asp-validation-for="TransactionInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <input type="submit" value="Proceed" style = "background-color: maroon;" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- <div>
    <a asp-action="Index">Back to List</a>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
