@model Infosys.EduBank.PaymentApp.Models.InternetBankingTransaction
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "NetBankingLogin";
    var amount = HttpContextAccessor.HttpContext.Session.GetString("Amount");
    var errorMessage = ViewData["errorMessage"];
}

 <div style="background-color: rgba(255,215,87,0.1);height:75px; margin-top:20px; margin-left: 0px; margin-right: 200px; margin-bottom:20px;">

        <div style="float:left;margin-left:10px">
            <h2 style="color: rgb(223,155,33);">
                <span style="color: maroon;">
                    EDU
                </span>
                BANK
            </h2>
        </div>
    </div>

<h4 style="text-align:left;"> Net Banking Login </h4>


<div class="row">
    <div class="col-md-4">
        <form asp-action="NetBankingLogin" >

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <hr style="height:1px;  margin-bottom: 20px; " color="orange">

            <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" readonly value=@amount>
                <span asp-validation-for="Amount" class="text-danger" ></span>
            </div> -->
            <!-- <div class="form-group">
                <label asp-for="TransactionInfo" class="control-label"></label>
                <input asp-for="TransactionInfo" class="form-control" />
                <span asp-validation-for="TransactionInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div> -->

            <h6 class="text-danger"> @errorMessage </h6>

            <div class="form-group">
                <input type="submit" value="Proceed" style = "background-color: maroon;" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>



<!-- <div>
    <a asp-action="Index">Back to List</a>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
