body{
 /*  width: calc(100vw - 34px); */
  font-family: Verdana;
  margin-left: 0px;
  margin-right: px;   
}

input, textarea {
    border: 0px !important;
    border-bottom: 1px solid #808080 !important;
    
}

/* table {
    border-collapse: collapse;
    border: 1px solid black;
} */

maroon{
	color: maroon;
}
hr{
	color:rgb(223,155,33);
	margin-top: 3px;
}

th{color: maroon;}

button {
	background: rgb(223,155,33); 
	border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#hidden {
  display: none;
  height: 100px;
}
:checked + #hidden {
  display: block;
}
 
#addmoney {
  display: none;
  height: 100px;
}
:checked + #addmoney {
  display: block;
}
 
#daccount {
  display: none;
  height: 100px;
}
:checked + #daccount {
  display: block;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    text-align:left;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
} 
 
textarea:focus, input:focus{
    outline: none;
}


.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding: 12px;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    width: 300px;
    height: 200px;
}

.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}