﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <title>Edu bank- your personal banking</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/eduBank.css" rel="stylesheet" />
    <link rel="icon" href="~/Images/picture1_HGF_icon.ico" type="image/x-icon">
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            /* Dropdown button on hover & focus */
            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }

        /* The container
        <div>
            - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            /* Contents inside the dropdown */
            .dropdown-content input, .dropdown-content button {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {
            display: block;
        }
    </style>

</head>
<body>
    <div style="background-color: rgba(255,215,87,0.1);height:75px; margin-top:0px; margin-left: 0px; margin-right: 0px ;">
        @*@if (Session["UserName"].ToString() == "")
        {*@
        <a href="@Url.Action("CustomerLogOut", "Customer")">
            <div style="float:left;margin-left:10px">
                <h2 style="color: rgb(223,155,33);">
                    <span style="color: maroon;">
                        EDU
                    </span>
                    BANK
                </h2>
            </div>
            </a>
        @*}*@
        @*else
        {
            <div style="float:left;margin-left:10px">
                <h2 style="color: rgb(223,155,33);">
                    <span style="color: maroon;">
                        EDU
                    </span>
                    BANK
                </h2>
            </div>
        }
@if (Session["UserName"].ToString() != "")
            {
            <div class="dropdown" style="float:right;margin-right:10px;margin-top:30px;">
                
                   
                        <span><maroon style="font-size:x-large;">@Session["UserName"].ToString()</maroon><span class="glyphicon glyphicon-chevron-down"></span></span>

                        <div class="dropdown-content" style="margin-right:10px;">
                            <p><a id="changeDebitCardPinLink" href="@Url.Action("TellerLogOut", "Teller")">Logout</a></p>
                        </div>
                    
               
            </div>*@
@*}*@
</div>
    <div class="container-fluid">
       
        @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>*@

        <div class="container body-content">
           
            @RenderBody()
            
            @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        </div>

        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
        <script>
            jQuery(document).ready(function ($) {

                if (window.history && window.history.pushState) {

                    window.history.pushState('forward', null, './EduBankSession');

                    $(window).on('popstate', function () {
                        window.location.href = './EduBankSession';
                    });

                }
            });
        </script>
    </div>

</body>
</html>