﻿<script type="text/javascript">


    windowwindow.onload = window.history.forward(0);

</script>  
@{
    ViewBag.Title = "Failure";
}


@if (@ViewBag.Msg.ToString() == "Session Expired")
{
    <maroon><h2>@ViewBag.Msg.ToString()</h2></maroon>
    if (@ViewBag.Controller == "Teller")
    {
        <p>Please @Html.ActionLink("click here", "TellerLogin", "Teller") to re-login</p>
    }
    else
    {
        <p>Please @Html.ActionLink("click here", "CustomerLogin", "Customer") to re-login</p>
    }
}
else
{
    <maroon><h2>Some error occured</h2></maroon>
    if (@ViewBag.Controller == "Teller")
    {
        <p>Please @Html.ActionLink("click here", "TellerLogin", "Teller") to go to home page</p>
    }
    else
    {
        <p>Please @Html.ActionLink("click here", "CustomerLogin", "Customer") to go to home page</p>
    }
}

